hr {
    height: 0.5px;
    width: 25%;
    background-color: grey;
  }

header{
  height: 100%;
}

a{ 
  color: #ffffff; 
}

.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
}
.textocentrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
}

.textocentrado2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}

/* transicion secciones */
html{
  scroll-behavior: smooth;
}

/* fuentes */
.open300{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.open400{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.open600{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.oswald700{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.oswald700r{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 5vw;
}

.contenedorf{
    display: flex;
    justify-content: center;
}

/* colores */
.colormut{
  background-color: #00adb5;
}